<section data-bs-version="5.1" class="form5 cid-sPYbUiC9KP mbr-fullscreen" id="content1-c">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-7">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-3">Acerca de</h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.
                    <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.
                    <br>
                    <br>
                    <br>
                    <h1 class="mbr-section-title mbr-fonts-style" style="text-align:center">MISIÓN</h1><br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.
                    <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.
                    <br>
                    <br>
                    <br>
                    <h1 class="mbr-section-title mbr-fonts-style" style="text-align:center">VISIÓN</h1><br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.
                    <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.
                </h4>
                
            </div>
        </div>
    </div>
</section>