<section data-bs-version="5.1" class="form5 cid-sPYbUiC9KP mbr-fullscreen" id="content1-c">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-7">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-3">Acerca de</h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
                    YourIdealCar es una concesionaria de Automóviles de todo tipo de marcas de mucho éxito y prestigio, fundada en 2021, con la misión de ofrecer calidad de vehículos a un precio asequible.
                    <br>
                    <br>
                    <br>
                    <h1 class="mbr-section-title mbr-fonts-style" style="text-align:center">MISIÓN</h1><br>
                    Ser una empresa especializada en la comercialización de coches nuevos y usados. Contar con personal altamente cualificado, tecnología punta e infraestructura que garanticen siempre un servicio integral de máxima calidad. Cumplir con los estándares de las marcas, normas ambientales y del entorno social y trabajar por el bienestar y crecimiento de nuestro talento humano.
                    <br>
                    Nuestra misión está encaminada hacia la excelencia, es decir, hacia la total satisfacción del cliente, así como la de los profesionales que la integran, un comportamiento medioambiental respetuoso y la distinción del liderazgo.
                    <br>
                    <br>
                    <br>
                    <h1 class="mbr-section-title mbr-fonts-style" style="text-align:center">VISIÓN</h1><br>
                    Ser la empresa referente y mantener la posición de liderazgo en su mercado, manteniendo unos volúmenes que le proporcionen una rentabilidad adecuada para la continuidad de la misma. Ser una empresa gallega de referencia en el sector automotriz en calidad, tecnología, infraestructura, capital humano, rentabilidad y solidez financiera, excediendo las expectativas de clientes, empleados y proveedores.
                    <br>
                    <br>
                    <br>
                    <h1 class="mbr-section-title mbr-fonts-style" style="text-align:center">VALORES</h1><br>
                    Actualmente YourIdealCar se inspira y actúa de acuerdo a los siguientes valores corporativos:<br>
                    Honestidad<br>
                    Honradez<br>
                    Compromiso<br>
                    Seriedad<br>
                    Respeto hacia las personas y el medioambiente<br>
                    Empatía<br>
                    Responsabilidad

                    <br>
                </h4>
                
            </div>
        </div>
    </div>
</section>