<section data-bs-version="5.1" class="content1 cid-s48udlf8KU" id="content1-8">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Producto destacado</strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.</h4>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="image-wrapper">
                    <img src="assets/images/mbr-816x446.png" alt="Image">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-4">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable.</p>
                </div>
                <div class="mbr-section-btn item-footer mt-2">
                    <a href="" class="btn btn-primary item-btn display-7" target="_blank">Conoce más
                    &gt;</a>
                </div>
            </div>
        </div>
    </div>
    
</section>