<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl2)">
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl3)">
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl4)">
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl5)">
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl6)">
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl7)">
<link rel="preload" as="style" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl8)">
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl8)" type="text/css">

<section data-bs-version="5.1" class="form5 cid-sPYbUiC9KP" id="form5-17">
    
    
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Contacto</strong><strong><br></strong></h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">
                Habla con nosotros</h4>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="ZFwZ9x+LZU0PRHfYh675SW4SrXxprH6GeSt54Dn2zmq6bA5RAQyHkWG7TjHWnJ6oEm5v/qpOfpi/TNGzLzbuqM1vpm2owf9EgHAkaQR+0zt/G/YbrQ3jj72UQsGowVDd">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-form5-17">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control" value="" id="email-form5-17">
                        </div>
                        
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <!--  <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-form5-17"></textarea>  -->
                            <textarea _ngcontent-bvl-c52="" name="textarea" placeholder="Message" data-form-field="textarea" id="textarea-form5-17" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 227px;"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-primary display-4">Send message</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>