<section data-bs-version="5.1" class="form6 cid-sPYmooZoUH" id="form6-1c">


    <div class="container-fluid">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                Editar vehiculo<br>
            </h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form [formGroup]="fgValidator" (ngSubmit)="editarVehiculo()" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                    
                    <input type="hidden" formControlName="id"/>
                    

                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <input formControlName="marca" type="text" name="marca" placeholder="Marca" data-form-field="marca"
                                class="form-control" required="" value="" id="name-form6-1c">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="lastname">
                            <input formControlName="referencia" type="text" name="referencia" placeholder="Referencia" data-form-field="referencia"
                                class="form-control" required="" value="" id="lastname-form6-1c">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="document">
                            <input formControlName="modelo" type="number" name="modelo" placeholder="Modelo" data-form-field="modelo"
                                class="form-control" required="" value="" id="document-form6-1c">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="valor">
                            <input formControlName="valor" type="text" name="valor" placeholder="Valor" data-form-field="valor" class="form-control" required=""
                                value="" id="age-form6-1c">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="date">
                            <input formControlName="fecha" type="datetime-local" name="date" placeholder="Fecha" data-form-field="date"
                                class="form-control" required="" value="" id="phone-form6-1c">
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="date">
                            <input formControlName="solicitudId" type="solicitudId" name="solicitudId" placeholder="Num. solicitud" data-form-field="solicitudId"
                                class="form-control" required="" value="" >
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="date">
                            <input formControlName="imagen" type="imagen" name="imagen" placeholder="Imagen" data-form-field="imagen"
                                class="form-control" required="" value="" >
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <select formControlName="estado" class="form-select" id="ddlgenero" required>
                                <option selected disabled value="">Estado vehiculo</option>
                                <option  >Disponible</option>
                                <option >No disponible</option>
                            </select>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <select formControlName="tipoVehiculoId" class="form-select" id="ddlgenero" required>
                                <option selected disabled value="">Tipo vehiculo</option>
                                <option value="Auto" >Auto liviano</option>
                                <option value="Camion">Camión</option>
                                <option value="Motocicleta">Motocicleta</option>
                            </select>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <select formControlName="departamentoId" class="form-select" id="ddlgenero" required>
                                <option selected disabled value="">Departamento</option>
                                <option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <select formControlName="ciudadId" class="form-select" id="ddlgenero" required>
                                <option selected disabled value="">Ciudad</option>
                                <option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit"
                                class="btn btn-primary display-4">Actualizar vehiculo
                            </button>
                            
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <a class="btn btn-primary display-4" routerLink="/administration/search-vehicles">Atrás</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
